<div
  class="card shadow membre-card border-{{
    membre.estActif ? 'success' : 'danger'
  }}"
>
  <div class="card-img-wrapper">
    <img
      [src]="membre.photo ? baseUrl + '/' + membre.photo : photo"
      class="card-img-top"
      alt="photo membre"
    />
    @if(showActions) {
    <ul class="list-inline text-center membre-icons animate">
      <li class="list-inline-item">
        <button
          class="btn btn-warning form-control btn-sm"
          type="button"
          (click)="onEdit()"
        >
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
      </li>

      <li class="list-inline-item">
        <button
          class="btn btn-primary form-control btn-sm"
          type="button"
          (click)="onView()"
        >
          <i class="fa-solid fa-eye"></i>
        </button>
      </li>
    </ul>
    }
  </div>

  <div class="card-body text-white  {{ bgColor }}">
    <h5 class="card-title text-center">
      {{ membre.nom | uppercase }}
    </h5>
    <p class="card-text text-center">
      <i class="fa-solid fa-calendar-xmark fs-6"></i>
      {{ dateStart }} {{ membre.dateNaissance | date }} à
      {{ membre.lieuNaissance | uppercase }} <br />
      <i class="fa-solid fa-building fs-6"></i>
      {{ membre.nomAgence | uppercase }} <br />
      <i class="fa-solid fa-at fs-6"></i>
      {{ membre.email }} <br />
      <i class="fa-solid fa-phone fs-6"></i>
      {{ membre.telephone }}
    </p>
  </div>
</div>
