<div class="row">
  <div class="col-md-4 mb-3">
    <div class="card shadow">
      <div class="card-header">Encours cotisations</div>
      <div class="card-body"></div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card shadow">
      <div class="card-header">Encours avance</div>
      <div class="card-body"></div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card shadow">
      <div class="card-header">Encours Crédit</div>
      <div class="card-body"></div>
    </div>
  </div>
</div>
