<div class="container" *ngIf="avance$ | async as avance">
  <div class="d-flex justify-content-between">
    <h1 class="h3">Infos avance</h1>
    <div class="d-flex justify-content-end gap-1">
      <button
        type="button"
        class="btn btn-success"
        (click)="onAnticipePaiement(avance.id)"
        *ngIf="!avanceSolder"
      >
        <i class="fa-solid fa-list-check"></i>
      </button>
    </div>
  </div>
  <hr />
  <div class="row" *ngIf="membre$ | async as membre">
    <div class="col-md-3" *ngIf="avance$ | async as avance">
      <app-infos-pret
        [membre]="membre"
        [montant]="avance.montantCapital"
        [duree]="avance.duree"
      ></app-infos-pret>
    </div>
    <div class="col-md-9">
      <router-outlet />
    </div>
  </div>
</div>
