<div class="card shadow mb-3">
  <div class="card-body">
    <table
      class="table table-bordered table-striped"
      *ngIf="credit$ | async as credit"
    >
      <tbody>
        <tr>
          <th>Solde credit</th>
          <td class="text-end">{{ credit.montantRestant | number }} FCFA</td>
        </tr>
        <tr>
          <th>Nombre d'échéances payées</th>
          <td class="text-end">
            {{ credit.nombreEcheancePaye | number }}
          </td>
        </tr>
        <tr>
          <th>Nombre d'échéances impayées</th>
          <td class="text-end">
            {{ credit.nombreEcheanceImpaye | number }}
          </td>
        </tr>
        <tr>
          <th>Date dernière échéance</th>
          <td class="text-end">
            {{ credit.dateDerniereEcheance | date }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card shadow" *ngIf="echeancier$ | async as echeancier">
  <div class="card-body echeancier">
    <app-echeancier-pret
      [echeancier]="echeancier"
      [nbrEcheances]="echeancier.length"
      [echeancierView]="true"
    ></app-echeancier-pret>
  </div>
</div>
