<div class="container">
  <div class="d-flex justify-content-between">
    <h1 class="h3">Les adhesions</h1>
    <button class="btn btn-primary" type="button" (click)="add()">
      Ajouter une adhesion
    </button>
  </div>
  <hr />
  <div
    class="d-flex justify-content-center flex-wrap gap-2 mb-3 liste"
    *ngIf="adhesions$ | async as adhesions"
  >
    <app-card
      *ngFor="let adhesion of adhesions"
      [adhesion]="adhesion"
    ></app-card>
    <h2 *ngIf="adhesions.length == 0" class="text-center">
      Aucune adhesion n'a été trouvé dans la base
    </h2>
  </div>
</div>
