<div class="row">
  <div class="col">
    <h1 class="h3">Ajout d'une image</h1>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-12 text-center">
    <input
      type="file"
      (change)="fileChangeEvent($event)"
      class="form-control"
    />
  </div>
</div>
<hr />
<div class="row">
  <div class="col-8 text-center">
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="4 / 4"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded($event)"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
  </div>
  <div class="col-4 text-center" *ngIf="croppedImage !== ''">
    <img [src]="croppedImage" alt="image à découper" />
  </div>
</div>
<hr />
<div class="row">
  <div class="col d-flex justify-content-end gap-1">
    <button
      type="button"
      class="btn btn-success"
      (click)="saveChanges()"
      [disabled]="croppedImage === ''"
    >
      <i class="fa-solid fa-floppy-disk"></i> Enregistrer
    </button>
    <button type="button" class="btn btn-danger" (click)="onCancel()">
      <i class="fa-solid fa-floppy-disk"></i> Annuler
    </button>
  </div>
</div>
