<div class="container d-flex justify-content-center align-items-center">
  <div class="col-md-4 card shadow">
    <div class="card-body">
      <form #authForm="ngForm" (ngSubmit)="onSubmitForm(authForm)">
        <div class="mb-3">
          <label class="form-label" for="login"
            ><i class="fa-solid fa-circle-user"></i>&nbsp;Nom
            d'utilisateur</label
          >
          <input
            class="form-control"
            type="text"
            placeholder="Nom d'utilisateur..."
            [(ngModel)]="authRequest.login"
            name="login"
            id="login"
            required
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="password"
            ><i class="fa-solid fa-lock"></i>&nbsp;Mot de passe:</label
          >
          <input
            class="form-control"
            type="password"
            placeholder="Mot de passe...."
            [(ngModel)]="authRequest.password"
            name="password"
            id="password"
            required
          />
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary form-control">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;Se connecter
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
