<div
  id="changePassword"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="changePassword"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="card shadow">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <h5>Changement de mot de passe</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              #closeModal
              aria-label="Close"
              (click)="initForm()"
            ></button>
          </div>
          <hr />
          <form [formGroup]="mainForm" (ngSubmit)="submitForm()">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="motDePasse" class="form-label">Mot de passe</label>
                <input
                  type="password"
                  class="form-control"
                  id="motDePasse"
                  name="motDePasse"
                  placeholder="Mot de passe"
                  formControlName="motDePasse"
                />
                @if(mainForm.controls['motDePasse'].touched) {
                @if(mainForm.controls['motDePasse'].errors?.['required']) {
                <div class="text-danger">Le mot de passe est obligatoire.</div>
                } }
              </div>
              <div class="col-md-6 mb-3">
                <label for="confirmMotDePasse" class="form-label"
                  >Confirmation du mot de passe</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="confirmMotDePasse"
                  name="confirmMotDePasse"
                  placeholder="Confirmation du mot de passe"
                  formControlName="confirmMotDePasse"
                />
                @if(mainForm.controls['confirmMotDePasse'].touched) {
                @if(mainForm.controls['confirmMotDePasse'].errors?.['required'])
                {
                <div class="text-danger">
                  La confirmation du mot de passe est obligatoire.
                </div>
                } @if(mainForm.errors?.['passwordsNotMatch']) {
                <div class="text-danger">Les mots de passe sont différent.</div>
                } }
              </div>
            </div>

            <hr />
            <div class="row">
              <div class="col d-flex justify-content-between">
                <button
                  type="submit"
                  class="btn btn-success"
                  [disabled]="mainForm.invalid"
                >
                  <i class="fa-solid fa-floppy-disk"></i> Enregistrer
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
