<div class="container" *ngIf="membre$ | async as membre">
  <h1 class="h3">Infos membre</h1>
  <hr />
  <div class="row">
    <div class="col-md-3">
      <div class="card shadow">
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <img
              [src]="membre.photo ? baseUrl + '/' + membre.photo : photo"
              class="rounded-circle img-thumbnail"
              alt="image membre"
              width="200"
            />
          </div>
          <div class="row">
            <h6 class="text-center text-truncate">
              {{ membre.nom | uppercase }}
            </h6>
            <h6 class="text-center text-truncate">
              {{ afficheSexe(membre.sexe) }}
            </h6>
            <h6 class="text-center text-truncate">
              {{ membre.dateNaissance | date : "dd/MM/yyyy" }},
              {{ membre.lieuNaissance }}
            </h6>
          </div>
          <div class="d-flex justify-content-center gap-1">
            @if(membre.estActif) {
            <button
              class="btn btn-danger"
              type="button"
              (click)="onActivated(membre)"
            >
              <i class="fa-solid fa-xmark"></i>
            </button>
            } @else {
            <button
              class="btn btn-success"
              type="button"
              (click)="onActivated(membre)"
            >
              <i class="fa-solid fa-check"></i>
            </button>
            }
            <button
              type="button"
              class="btn btn-primary"
              (click)="onChangeImage(membre.id)"
            >
              <i class="fa-solid fa-image"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet />
    </div>
  </div>
</div>
