<div class="container">
  <div class="d-flex justify-content-between">
    <h1 class="h3">Infos utilisateur</h1>
    <img [src]="photo" alt="photo profil" class="rounded-circle" width="50" />
  </div>
  <hr />
  <form [formGroup]="request" (ngSubmit)="submitForm()">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="login" class="form-label">Login</label>
        <input
          type="text"
          class="form-control"
          name="login"
          id="login"
          formControlName="login"
        />
        @if(request.controls['login'].touched) {
        @if(request.controls['login'].errors?.['required']) {
        <div class="text-danger">Le role est obligatoire.</div>
        } }
      </div>
      <div class="col-md-6 mb-3">
        <label for="nom" class="form-label">Nom</label>
        <input
          type="text"
          class="form-control"
          name="nom"
          id="nom"
          formControlName="nom"
        />
        @if(request.controls['nom'].touched) {
        @if(request.controls['nom'].errors?.['required']) {
        <div class="text-danger">Le nom est obligatoire.</div>
        } }
      </div>
      <div class="col-md-6 mb-3">
        <label for="sexe" class="form-label">Sexe</label>
        <select
          class="form-select"
          name="sexe"
          id="sexe"
          formControlName="sexe"
        >
          <option value="1">Masculin</option>
          <option value="2">Féminin</option>
        </select>
        @if(request.controls['sexe'].touched) {
        @if(request.controls['sexe'].errors?.['required']) {
        <div class="text-danger">Le sexe est obligatoire.</div>
        } }
      </div>
      <div class="col-md-6 mb-3">
        <label for="role" class="form-label">Role</label>
        <select
          class="form-select"
          name="role"
          id="role"
          formControlName="role"
        >
          <option value="1">Administrateur</option>
          <option value="2">Utilisateur</option>
          <option value="3">Superviseur</option>
          <option value="4">Agent</option>
        </select>
        @if(request.controls['role'].touched) {
        @if(request.controls['role'].errors?.['required']) {
        <div class="text-danger">Le role est obligatoire.</div>
        } }
      </div>
    </div>
    <div class="d-flex justify-content-end gap-1">
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="request.invalid"
      >
        <i class="fa-solid fa-floppy-disk"></i> Enregistrer
      </button>
      <button class="btn btn-danger" type="button" (click)="onBack()">
        <i class="fa-solid fa-xmark"></i> Annuler
      </button>
    </div>
  </form>
</div>
