@if(membres$ | async; as membres){
<div class="container">
  <div class="d-flex justify-content-between align-items-center p-2">
    <h3 class="titre">Nouvelles cotisations</h3>
    <div class="row g-3 align-items-center">
      @if(agences$ | async; as agences){
      <div class="col-auto form-floating">
        <select
          class="form-select {{ agenceClasse }}"
          id="agence"
          aria-label="Floating label select example"
          [formControl]="agenceCtrl"
        >
          <option value=""></option>
          @for(agence of agences; track agence.id){
          <option value="{{ agence.id }}">{{ agence.nom | uppercase }}</option>
          }
        </select>
        <label for="agence">Agence</label>
      </div>
      }
      <div class="col-auto form-floating">
        <input
          type="date"
          class="form-control {{ dateCotisationClasse }}"
          id="dateCotisation"
          [formControl]="dateCotisationCtrl"
          placeholder="Date de cotisation"
        />
        <label for="dateCotisation">Date de cotisation</label>
      </div>
    </div>
  </div>
  <hr />

  <form [formGroup]="request" (ngSubmit)="submitForm()">
    <div class="row liste">
      @for(membre of membres; track membre.id){
      <div class="col-md-6">
        <app-ligne
          [cotisation]="membre"
          (salaireChangeEvent)="onSalaireChange($event)"
        ></app-ligne>
      </div>
      }
    </div>
    <hr />
    <div class="d-flex justify-content-end gap-1">
      <button class="btn btn-primary" type="submit" [disabled]="!request.valid">
        <i class="fa-solid fa-floppy-disk"></i> Enregistrer
      </button>
      <button class="btn btn-danger" type="button" (click)="onCancel()">
        <i class="fa-solid fa-xmark"></i> Annuler
      </button>
    </div>
  </form>
</div>

}
