<div class="container">
  <div class="d-flex justify-content-between">
    <h1 class="h3">Les credits</h1>
    <button class="btn btn-primary" type="button" (click)="add()">
      Ajouter un credit
    </button>
  </div>
  <hr />
  <div
    class="d-flex justify-content-center flex-wrap gap-2 mb-3 liste"
    *ngIf="credits$ | async as credits"
  >
    <app-card *ngFor="let credit of credits" [credit]="credit"></app-card>
    <h2 *ngIf="credits.length == 0" class="text-center">
      Aucune credit n'a été trouvé dans la base
    </h2>
  </div>
</div>
