<div class="container" *ngIf="userInfos$ | async as user">
  <div class="row">
    <h1 class="h3">Profile utilisateur</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="d-flex justify-content-center">
        <img
          [src]="user.photo && !blob ? baseUrl + '/' + user.photo : photo"
          class="rounded-circle"
          alt="image user"
          width="200"
        />
      </div>
      <div class="row">
        <div class="col-12 text-center text-truncate">
          <h5>{{ user.login }}</h5>
        </div>
        <div class="col-12 text-center text-truncate">
          <h6>{{ user.nom }}</h6>
        </div>
      </div>
      <div class="d-flex justify-content-center gap-1">
        <button
          type="button"
          class="btn btn-warning"
          (click)="onChangePassword()"
        >
          <i class="fa-solid fa-lock"></i> Password
        </button>
        <button type="button" class="btn btn-primary" (click)="onChangeImage()">
          <i class="fa-solid fa-floppy-disk"></i> Image
        </button>
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet />
    </div>
  </div>
</div>
