<div class="card shadow">
  <div class="card-body">
    <div class="d-flex justify-content-center">
      <img
        [src]="
          membre.photo
            ? baseUrl + '/' + membre.photo
            : './assets/images/default_man.jpg'
        "
        class="rounded-circle"
        alt="image utilisateur"
        width="200"
      />
    </div>
    <div class="row">
      <div class="col-12 text-center text-truncate">
        <h6>{{ membre.nom | uppercase }}</h6>
      </div>
      <div
        class="col-12 text-center text-truncate border-top-2"
        *ngIf="montant"
      >
        <h6>Montant: {{ montant | number }} FCFA</h6>
      </div>
      <div
        class="col-12 text-center text-truncate border-top-2"
        *ngIf="commission"
      >
        <h6>Commission: {{ commission | number }} FCFA</h6>
      </div>
      <div class="col-12 text-center text-truncate border-top-2" *ngIf="duree">
        <h6>Durée: {{ duree | number }} Mois</h6>
      </div>
      <div
        class="col-12 text-center text-truncate border-top-2"
        *ngIf="interets"
      >
        <h6>Intérêts: {{ interets | number }} FCFA</h6>
      </div>
    </div>
  </div>
</div>
