<div class="container">
  <div class="d-flex justify-content-between p-2">
    <h3 class="titre">Les avances</h3>
    <button class="btn btn-primary" type="button" (click)="add()">
      Ajouter une avance
    </button>
  </div>
  <hr />
  <div class="row">
    @if(avances$ | async; as avances) {
    <div class="col-md-9 liste">
      @for(avance of avances| sort : ['dateDecaissement', 'desc'] | sort :
      ['nom', 'asc']; track avance.id){
      <div class="col-md-6">
        <app-ligne
          [avance]="avance"
          (selectedEvent)="onAvanceSelected($event)"
        />
      </div>
      }
    </div>
    } @if(selectedAvance) {
    <div class="col-md-3">
      <app-membre-card
        [membre]="selectedAvance"
        [showInfosMembre]="false"
        [showActions]="true"
        [showViewed]="true"
        (onViewEvent)="onView($event)"
      />
    </div>
    }
  </div>
</div>
