<div class="container">
  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-start gap-2">
      <h3>Tableau de bord</h3>
    </div>

    <div class="d-flex justify-content-end gap-1">
      <!-- <button
        type="button"
        class="btn btn-success"
        (click)="onAnticipePaiement(avance.id)"
        *ngIf="avance.nombreEcheanceImpaye"
      >
        <i class="fa-solid fa-list-check"></i>
      </button> -->
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-3" *ngIf="membres$">
      <div class="card shadow">
        <div class="card-body">
          <div class="d-flex justify-content-between text-primary">
            <span class="h5 y"><i class="fa-solid fa-person"></i> Hommes</span>
            <span class="h5"
              >{{ totalMembreHommeActifs | number }} /
              {{ totalMembreHomme | number }}</span
            >
          </div>
          <div class="d-flex justify-content-between border-bottom text-danger">
            <span class="h5"
              ><i class="fa-solid fa-person-dress"></i> Femmes</span
            >
            <span class="h5"
              >{{ totalMembreFemmeActifs | number }} /
              {{ totalMembreFemme | number }}</span
            >
          </div>
          <div class="d-flex justify-content-between text-success">
            <span class="h5"
              ><i class="fa-solid fa-person-half-dress"></i> Total</span
            >
            <span class="h5"
              >{{ totalMembreActifs | number }} /
              {{ totalMembre | number }}</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3" *ngIf="cotisations$">
      <div class="card shadow">
        <div class="card-body">
          <div class="d-flex justify-content-between text-primary">
            <span class="h5"><i class="fa fa-info-circle"></i> 90%</span>
            <span class="h5">{{ montant90PourCent | number }} FCFA</span>
          </div>
          <div class="d-flex justify-content-between text-secondary">
            <span class="h5"><i class="fa fa-info-circle"></i> 10%</span>
            <span class="h5">{{ montant10PourCent | number }} FCFA</span>
          </div>
          <div class="d-flex justify-content-between text-success border-top">
            <span class="h5"><i class="fa fa-info-circle"></i> Total</span>
            <span class="h5">{{ montantTotalCotisation | number }} FCFA</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
