<div class="container" *ngIf="credit$ | async as credit">
  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-start gap-2">
      <button
        class="btn btn-primary rounded-circle shadow-sm"
        (click)="onBack()"
      >
        <i class="fa fa-arrow-left"></i>
      </button>
      <h3>Infos credit</h3>
    </div>

    <div class="d-flex justify-content-end gap-1">
      <button
        type="button"
        class="btn btn-success"
        (click)="onAnticipePaiement(credit.id)"
        *ngIf="credit.nombreEcheanceImpaye"
      >
        <i class="fa-solid fa-list-check"></i>
      </button>
    </div>
  </div>
  <hr />
  <div class="row" *ngIf="credit$ | async as credit">
    <div class="col-md-3">
      <app-infos-pret
        [nom]="credit.nomMembre"
        [photo]="credit.photoMembre"
        [montant]="credit.montantCapital"
        [interets]="credit.montantInterets"
        [commission]="credit.montantCommission"
        [duree]="credit.duree"
      ></app-infos-pret>
    </div>
    <div class="col-md-9">
      <router-outlet />
    </div>
  </div>
</div>
